@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; 
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; 
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; 
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; 
}

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; 
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

body, html {
  height: 100%; 
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

section {
  min-height: 650px;
}

.maincontent{
  height: 100%;
}

.wrapper{
  height: 100%;
  width: 100%;
  position: relative;
}

.maincontent{
  height: 100%; 
}


.container{
  width: 960px;
  margin: 0 auto;
  /*padding: 0 10px;*/
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;*/
}

.section{
  height: 100%;
  background-color: #80898e; 
  min-width: 940px; 
  min-height: 650px; 
}

.do{
  background-image: url(../img/do_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background: cover;
  position: relative;
  background-position: center bottom;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
}

@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }
  .do__right {
    display: none;
  }
}

.header{
  width: 100%;
  align-items: center;
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  display: inherit;
}

.nav {
  margin-right: 0.9375rem;
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none;
  }

.nav-link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav-link:hover {
    text-decoration: underline;
  }


.header__btn{

}

.order-link{
  min-width: rem(98px);
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e45028;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
}

.order-link:hover {
  background-color: #c1401e;
}

.do__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.do__inner {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%;
}
/*
.do__left, .do__right {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
*/
.do__left{
  float: left;
  width: 460px;
}

.do__right {
  /*-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;*/
  width: 420px;
  height: 220px;
  display: inline-block;
  margin-top: 68px;
  margin-left: 6px;
}


.do__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px;
}

.do__text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 0.9;
  margin-top: 11px;
  letter-spacing: -2px;
}



.best{
  background-image: url("../img/best_bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  min-height: 650px;
}


.best__title {
  color: #282828;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  padding: 0;
  margin-bottom: 3.75rem;
  text-align: center;

}

.best__list {
  margin-bottom: 137px;
}

.best__item {
  display: inline-block;
  width: 290px;
  height: 270px;
  text-align: center;
  display: inline-table;
  margin-right: 27px;
}


.best__title-item{
  font-size: 24px;
  font-family: "Lifehack";
  color: rgb(47, 50, 52);
  line-height: 1.167;
  text-align: center;
}


/*.best__img{
  padding-left: 100px;
}*/


.best__text{
  font-size: 1rem;
  font-family: "Ubuntu";
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714;
  text-align: center;
}




.reviews{
  height: 100vh;
  background-color: #2f3234;
  min-height: 650px;
}


.reviews__list{
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}


.reviews__item{
  float: left;
  width: 25%;
  height: 50%;
  overflow: hidden;
}


.review{
  width: 100%;
  height: 100%;
  position: relative;
}


.review__img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: grayscale(100%);
  width: 100%;
}
.review:hover .review__hover{
  transform: scale(1);
  opacity: 1;
  padding: 14% 8% 0;
  background: hsla(0,0%,8%,.7);
  height: 100%;
  transition: .4s ease-out;
}

.review__name{
  margin-bottom: 25px;
  font-family: gagalin,Arial,sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.review__text{
  width: 230px;
  line-height: 1;
  margin-bottom: 10px;
  font-family: ubuntu-light,Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.review__link{
  min-width: rem(98px);
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #2f3234;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
}

.review__link:hover {
  background-color: #1f2122;
}


/*burger
--------------------*/
.burgers {
    position: relative;
    background: #f9b43b;
    background: -webkit-linear-gradient(top,#f9b43b 26%,#eb8c38 52%,#f9b43b);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(26%,#f9b43b),color-stop(52%,#eb8c38),to(#f9b43b));
    background: linear-gradient(180deg,#f9b43b 26%,#eb8c38 52%,#f9b43b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9b43b",endColorstr="#f9b43b",GradientType=0);
      height: 100vh;
  min-height: 650px;
}

/*.burgers{
  height: 100vh;
  min-height: 650px;
}*/

.burgers__inner {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
}

.slider {
  position: relative;
}

.slider__wrap {
  opacity: 1;
  display: block;
  width: 100%;
}

/*.owl-carousel*/ .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}


.owl-wrapper {
  width: 5640px;
  left: 0px;
  display: block;
}


.owl-item {
  width: 940px;
}

.slider__item {
  padding: 40px 0;
}

.burger-composition {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  z-index: 1;
  background: rgba(228,80,40,.4) url(../img/icons/burger.svg) no-repeat top 14px center;
  border-radius: 5px;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  margin-top: 20px;
}

.burger-composition__text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
  font-family: gagalin,Arial,sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #fff;
  cursor: default;
}

.slider__pic {
  float: left;
  width: 460px;
  padding-top: 40px;
}

.slider__img {
  display: block;
}

.burger-kkal {
  position: absolute;
  bottom: 0;
  margin-top: -10px;
  opacity: .5;
}

.burger-kkal__num, .burger-kkal__units {
  font-family: gagalin,Arial,sans-serif;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.burger-kkal__num {
  width: 60px;
  height: 65px;
  padding-top: 32px;
  font-size: 20px;
  background: url(../img/icons/kkal.svg) no-repeat 50%;
}

.burger-kkal__units {
  width: 100%;
  margin-top: 2px;
  font-size: 14px;
}

.slider__info {
  float: right;
  width: 460px;
  margin-bottom: 65px;
}

.slider__name {
  margin-bottom: 40px;
  font-family: gagalin,Arial,sans-serif;
  font-size: 72px;
  line-height: 63px;
  color: #fff;
}

.slider__text {
  margin-bottom: 30px;
  font-family: ubuntu-light,Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.slider__price {
  display: inline-block;
  font-family: gagalin,Arial,sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #e45028;
}

.slider__big {
  font-size: 72px;
}

.slider__btn {
  position: relative;
  top: -5px;
  margin-left: 25px;
}





/*menu
-----------------*/


.menu{
  position: relative;
  background: url(../img/menu_bg.jpg) no-repeat 50%;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
}

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%;
  font-family: gagalin,Arial,sans-serif;
  font-size: 72px;
  line-height: 1;
  color: #fff;
}

.menu-accord {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-accord__item {
  float: left;
  height: 100%;
}





.menu-accord__trigger {
  position: relative;
  display: block;
  float: left;
  width: 80px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.menu-accord__trigger-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 650px;
  height: 80px;
  margin-top: -40px;
  margin-left: -325px;
  font-family: gagalin,Arial,sans-serif;
  font-size: 40px;
  line-height: 80px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transform: rotate(-90deg);
  transition: .2s ease-out;
}

.menu-accord__content {
  float: left;
  width: 0;
  height: 100%;
  background: rgba(47,50,52,.93);
  color: #fff;
  overflow: hidden;
  transition: .3s ease-out;
}

.menu-accord__text {
  width: 550px;
  padding: 60px 30px 0;
  font-family: ubuntu-light,Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
}


/*team*/
/*-----------------*/

.team{
  background: url(../img/team_bg.jpg) no-repeat top;
  background-size: cover;
  height: 100vh;
}

.team__right{
  position: absolute; 
  right: 0;
  width: 50%;
  height: 100%;
  background: #3e4042;
  opacity: 0.929;
}


.team__block{
  margin-top: 90px;
  margin-left: 80px;
}

.team__title{
  font-family: gagalin,Arial,sans-serif;
  font-size: 72px;
  line-height: 1;
  color: #f9b43b;
  margin-bottom: 70px;
}
.item__active {
  opacity: 1;
}

/*.team__link-active:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    /* transform: rotate(-180deg); 
}*/

.team__link{
  font-family: gagalin,Arial,sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.team__link:after {
  content: '';
  width: 0;
  height: 0;
  border-left: .375rem solid transparent;
  border-right: .375rem solid transparent;
  border-top: .4375rem solid #f9b43b;
  position: absolute;
  left: 4rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-top: 5px;
  margin-left: -10px;
}

.team__info-wrap{
  padding-top: 23px;
  display: block;
  opacity: 0;
  overflow: hidden;
}

.item__active{
  opacity: 1;
}

.team__text{
  float: left;
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.team__img{
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 20px;
  border-radius: 50%;
  overflow: hidden;
}


.team__name{
  margin-bottom: 16px;
  font-family: ubuntu-bold,Arial,sans-serif;
  line-height: 1;
}


.team__content{
  font-family: ubuntu-light,Arial,sans-serif;
}

/*form
---------------*/


.form{
  min-height: 650px;
  background: url(../img/order_bg.jpg) center center/cover no-repeat;
  height: 100vh;
}

.form__col {
    float: left;
    width: 50%;
    padding-left: 20px;
}

.form__name{
  font-family: gagalin,Arial,sans-serif;
  font-size: 72px;
  line-height: 1;
  color: #f9b43b;
  padding-top: 90px;
  margin-bottom: 72px;
  text-align: center;
}
    
.form__left{
  float: left;
  width: 50%;
  padding-left: 20px;
}

.form__row {
  margin-left: -20px;
  margin-bottom: 14px;
}

.form__row:after {
    clear: both;
    content: "";
    display: table;
}

.form__item._col-2 {
  float: left;
  width: 50%;
}

.form__label {
  margin-bottom: 2px;
  font-family: ubuntu-light,Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.form__input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #d1cfcb;
  border-radius: 4px;
}

.form__item {
  width: 100%;
  padding-left: 20px;
}

.form__item._col-4 {
  float: left;
  width: 25%;
}

.form__input._t-area {
  height: 110px;
  resize: none;
}

.form__radio {
  position: absolute;
  left: -9999px;
}

.form__label._radio {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: -17px;
  padding-left: 24px;
  line-height: 14px;
  vertical-align: middle;
  cursor: pointer;
}

.form__label._radio:after, .form__label._radio:before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
}

.form__radio:checked+label:after {
  width: 7px;
  height: 7px;

}

.form__label._radio:before {
  top: 0;
  left: 0;
  margin-right: 10px;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background: #fff;
}

.form__label._radio:after {
  top: 7px;
  left: 7px;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 0;
  height: 0;
  background: #e45028;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.form__label._check, .form__label._check:before {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.form__label._check:before {
  content: "";
  top: -1px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background: #fff;
}

.form__check:checked label:after {
  width: 11px;
  height: 9px;
}

.form__check {
    position: absolute;
    left: -9999px;
}

.form__label._check {
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: -12px;
    line-height: 15px;
    cursor: pointer;
}

.form__btn {
  margin-top: -5px;
  margin-right: 5px;
}

.btn {
  display: inline-block;
  padding: 0 14px;
  font-family: ubuntu-medium,Arial,sans-serif;
  font-size: 13px;
  line-height: 35px;
  text-decoration: none;
  text-transform: uppercase;
  background: #e45028;
  border: none;
  border-radius: 5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  color: #fff;
}

.btn--clear {
  font-family: ubuntu-light,Arial,sans-serif;
  font-size: 14px;
  text-transform: none;
}

.btn--clear, .btn--clear:hover {
  background: transparent;
}







/*map
----------------*/
.map{
  min-height: 650px;
  height: 100vh;
}

.yandex__map{

  height: 100%;
}

.footer__container{
  display: flex;
}

.map__img{
  width: 100%;
}

.footer{
  background: url(../img/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.png) /*center center*/ no-repeat 50%;
  background-size: cover;
  /*width: 100%;*/
  bottom: 0;
  height: 60px;
}

.footer__addres{
  color: #fff;
}

.footer__tel{
  color: #e45028;
  text-decoration: none;
}

.footer__right{
  margin-left: auto;

}

.social{
  display: flex;

}

.social__item{
  margin-left: 20px;
  margin-top: 20px;
}

.social__img{
  width: 20px;
  height: 20px;
  opacity: 0.302;
}

.social__img:hover {
  opacity: 1;
  transition: 1s;
}





@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .do__right {
    display: block;
    margin-left: 65px;
  }
  .do__text {
    display: inline-flex;
  }
  .do__left {
    margin-left: 30px;
    margin-top: -50px;
  }
  .best__item {
    display: table-cell;

  }
  .slider__pic {
    display: block;
  }
  .slider__info {
    display: block;
  }
 .team__right {
    text-align: center; 
    width: 100%;
  }
  .team__item{
    display: inline-block;
  }
  .team__link:after {
    margin-left: 180px;
  }
  .team__img {
    float: none;
    display: flex;
    margin-left: 68px;
  }
  .reviews__item {
    width: 50%;
    height: 25%;
  }
  .social {
    margin-right: 465px;
  }
  .footer__left {
    margin-top: 10px;
  }
  .form__name {
    display: table-caption;
    margin-left: 100px;
  }
  .form__col {
    float: none;
  }
} 



  


}

@media screen and (max-width: 600px) {
  html, body {
    font-size: 10px;
  }
}


@media screen and (max-width: 1200px) {
  html, body {
    font-size: 12px;
  }
}
